atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
colorama==0.4.4
imutils==0.5.4
iniconfig==1.1.1
numpy==1.20.3
opencv-python==4.5.2.54
packaging==20.9
Pillow==8.2.0
pip==21.1.2
pluggy==0.13.1
py==1.10.0
pygame==2.0.1
pyparsing==2.4.7
pytest==6.2.4
setuptools==52.0.0.post20210125
toml==0.10.2
wheel==0.36.2
wincertstore==0.2
